<body class="background-default">
    <div class="center-elements">
        <div class="album-img-title margin-top">
            <img class="album-img-list" src="{{cover_big}}">
            <div class="margin-left-4">
                <p class="album-list-title">{{title}}</p>
                <p class="album-card-artist">{{artist.name}}</p>
            </div>
        </div>

    </div>
        

        {{#each tracks.data}}
        <div class="playlist-rows-container">
            <div class="check-playlist-track-container">
                <div>
                    <div class="track-playlist-title-container">
                        <p class="track-playlist-title">{{title}}</p>
                    </div>
                </div>
                    <audio controls src="{{preview}}"></audio>
            </div>
                    <div class="add-to-playlist-container">
                        <a href="/playlist/{{id}}/add-to-playlist" class="add-to-playlist">Add to playlist</a>
                    </div>
        </div>
        {{/each}}

</body>