<body class="background-default">
        
        <div class="dj-session-title-view-flex">
            <p class="dj-session-title-view">Dj Session</p>
        </div>


    <div class="center-elements">






        <div class="mixer-and-tracks-org mixer-and-tracks-margin-top">






            <div class="mixer-base mixer-base-flex">

                <div class="mixer-primary-third-division">

                </div>


                <div class="mixer-primary-third-division mixer-third-base-mid">

                    <div class="mixer-mid-top-base">
                        <div class="mixer-mid-top-logo-container">
                            <img class="mixer-mid-top-logo" src="/wave_app_logo.png">
                        </div>
                    </div>


                    <div class="mixer-mid-flex">
                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">
                            <div class="mixer-mid-btn-top"></div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>
                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>
                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>
                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-first-white-squares-container">
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                            </div>

                            <div class="mixer-mid-bottom-pot-container">
                                <div class="mixer-mid-first-fifth-bottom-pot"></div>
                            </div>
                            <div class="mixer-mid-bottom-pot-container">
                                <div class="mixer-mid-first-fifth-bottom-pot"></div>
                            </div>
                            <div class="mixer-mid-bottom-pot-container">
                                <div class="mixer-mid-first-fifth-bottom-pot"></div>
                            </div>

                        </div>

                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>


                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>


                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>


                        <div class="mixer-mid-five-base mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>
                    </div>


                    <div class="mixer-mid-bottom-base">

                    </div>


                </div>


                <div class="mixer-primary-third-division">

                </div>
                
            </div>





            <div class="mixer-track-list-container">
                

                <div>
                    <p class="mixer-playlist-title">Playlist: <span class="title-color-cicle">{{playlistPlease.name}}</span></p>


                    {{#each response}}
                    <div class="mixer-playlist-track-info">

                        <div class="mixer-underline-div"></div>
                        
                        <div class="mixer-playlist-track-info">
                            <p class="mixer-playlist-tracks-title">{{data.title_short}}</p>
                            <div class="mixer-artist-bpm">
                                <p class="mixer-playlist-tracks-artist">{{data.artist.name}}</p>
                                <p class="mixer-playlist-tracks-artist">bpm: {{data.bpm}}</p>
                            </div>
                        </div>
                        <div class="center-elements">
                            <audio class="audio-controls-mixer" controls id="{{data.id}}" src="{{data.preview}}"></audio>
                        </div>

                        
                    
                        
                    </div>
                
                    {{/each}}
                </div>

            </div>
        </div>

    </div>




    <div class="org-bottom-elements">
        <div class="mixer-btns-org">

            <div class="choose-playlist-container">

                <p>Pick a playlist to start:</p>

                <form action="/djsession/search" method="GET">
                    <div>
                        <label for="playlist-list"></label>
                        <select name="playlist_id" id="playlist-list">
                            <option disabled>Choose a playlist</option>

                            {{#each playlist}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}

                        </select>
                    </div>

                    <button type="submit">Load playlist</button>
                </form>
            </div>

            <div class="btns-container">

                <div>
                    <div>
                        <button type="button" id="botondeplay">Click me</button>
                        <select id='button1'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div>
                        <button type="button" id="track02">Click me</button>
                        <select id='diskRight'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div>
                    <div>
                        <button type="button" id="track03">Click me</button>
                        <select id='cue01'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div>
                        <button type="button" id="track04">Click me</button>
                        <select id='cue02'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div>
                    <div>
                        <button type="button" id="track05">Click me</button>
                        <select id='play01'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div>
                        <button type="button" id="track06">Click me</button>
                        <select id='play02'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
   
   
   









    
        <script src="../../js/mixer.js"></script>
</body>