<body class="background-default">
        
        <div class="dj-session-title-view-flex">
            <p class="dj-session-title-view">Dj Session</p>
        </div>


    <div class="center-elements">






        <div class="mixer-and-tracks-org mixer-and-tracks-margin-top">






            <div class="mixer-base mixer-base-flex">

                <div class="mixer-primary-third-division">

                    <div class="mixer-side-top-base mixer-side-top-btns-container">

                        <div class="mixer-side-top-btn-orange-container">
                            <div class="mixer-side-top-btn-orange"></div>
                            <div class="mixer-side-top-btn-orange"></div>
                            
                            <div class="mixer-side-top-mid-yellow-btn"></div>
                        
                            <div class="mixer-side-top-white-btn"></div>

                            <div class="mixer-side-top-red-btn"></div>
                            <div class="mixer-side-top-red-btn"></div>
                            <div class="mixer-side-top-red-btn"></div>
                            
                            <div class="mixer-side-top-btn-gray"></div>
                        </div>
                    </div>





                    <div class="mixer-side-mid-base mixer-side-mid-org">

                        <div class="mixer-side-mid-left-org">
                            <div class="mixer-mid-pot-levels ">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-side-btn-disc-bottom"></div>

                        </div>
                        
                        <button class="mixer-disc-main" type="button" id="botondeplay">
                        {{!-- <div class="mixer-disc-main"> --}}
                            <div class="mixer-disc-screen">
                                <div class="mixer-disc-screen-blue">
                                    
                                </div>
                            </div>
                        {{!-- </div> --}}
                        </button>

                        

                    </div>


                    <div class="mixer-side-bottom-base mixer-side-bottom-org mixer-side-bottom-padding">
                        
                        <div class="mixer-side-cue-play-container">
                            <div class="mixer-side-cue-btn">
                                <button class="mixer-side-cue-btn-interior" type="button" id="track03"></button>
                                {{!-- <div class="mixer-side-cue-btn-interior"></div> --}}
                            </div>
                            <div class="mixer-side-play-btn">
                                <button class="mixer-side-play-btn-interior" type="button" id="track05"></button>
                                {{!-- <div class="mixer-side-play-btn-interior"></div> --}}
                            </div>
                        </div>


                        <div>
                            <div class="mixer-side-bottom-over-btn-container">
                                <div class="mixer-side-bottom-over-btn border-white"></div>
                                <div class="mixer-side-bottom-over-btn border-turquoise"></div>
                                <div class="mixer-side-bottom-over-btn border-pink"></div>
                                <div class="mixer-side-bottom-over-btn border-purple"></div>
                                <div class="mixer-side-bottom-over-btn"></div>
                            </div>
                            <div class="mixer-side-bottom-btns-container">
                                <div class="mixer-side-bottom-btns background-red"></div>
                                <div class="mixer-side-bottom-btns background-yellow"></div>
                                <div class="mixer-side-bottom-btns background-cyan"></div>
                                <div class="mixer-side-bottom-btns background-green"></div>
                                <div class="mixer-side-bottom-btns background-turquoise"></div>
                                <div class="mixer-side-bottom-btns background-violet"></div>
                                <div class="mixer-side-bottom-btns background-blue"></div>
                                <div class="mixer-side-bottom-btns background-pink"></div>
                            </div>
                        </div>

                        <div class="mixer-side-bottom-volume-container">
                            <div class="mixer-side-bottom-volume">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="mixer-primary-third-division mixer-third-base-mid">

                    <div class="mixer-mid-top-base">
                        <div class="mixer-mid-top-logo-container">
                            <img class="mixer-mid-top-logo" src="/wave_app_logo.png">
                        </div>
                    </div>


                    <div class="mixer-mid-flex">
                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">
                            <div class="mixer-mid-btn-top"></div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>
                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>
                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>
                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-first-white-squares-container">
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                                <div class="mixer-mid-first-fifth-white-squares"></div>
                            </div>

                            <div class="mixer-mid-bottom-pot-container">
                                <div class="mixer-mid-first-fifth-bottom-pot"></div>
                            </div>
                            <div class="mixer-mid-bottom-pot-container">
                                <div class="mixer-mid-first-fifth-bottom-pot"></div>
                            </div>
                            <div class="mixer-mid-bottom-pot-container">
                                <div class="mixer-mid-first-fifth-bottom-pot"></div>
                            </div>

                        </div>

                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights-01"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>


                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights-02"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>


                        <div class="mixer-mid-five-base mixer-mid-five-border-right mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights-03"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>


                        <div class="mixer-mid-five-base mixer-mid-five-individual-flex">

                            <div class="mixer-mid-btn-top"></div>
                            
                            <div class="mixer-mid-lights-pot-container">
                                <div class="mixer-mid-level-lights-04"></div>
                                <div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                    <div class="mixer-mid-pot-levels">
                                        <div class="mixer-mid-pot-btn"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="mixer-mid-pot-levels">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-mid-mid-light-gray">
                                <div class="mixer-mid-mid-pot-levels">
                                    <div class="mixer-mid-mid-pot-btn"></div>
                                </div>
                            </div>

                            <div class="mixer-mid-mid-yellow-btn"></div>

                            <div class="mixer-mid-bottom-steps">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>

                            <div class="mixer-mid-bottom-blue-btn"></div>
                            <div class="mixer-mid-bottom-purple-btn"></div>

                        </div>
                    </div>


                    <div class="mixer-mid-bottom-base">

                    </div>


                </div>


                <div class="mixer-primary-third-division">

                    <div class="mixer-side-top-base mixer-side-top-btns-container">

                        <div class="mixer-side-top-btn-orange-container">
                            <div class="mixer-side-top-btn-orange"></div>
                            <div class="mixer-side-top-btn-orange"></div>
                            
                            <div class="mixer-side-top-mid-yellow-btn"></div>
                        
                            <div class="mixer-side-top-white-btn"></div>

                            <div class="mixer-side-top-red-btn"></div>
                            <div class="mixer-side-top-red-btn"></div>
                            <div class="mixer-side-top-red-btn"></div>
                            
                            <div class="mixer-side-top-btn-gray"></div>
                        </div>
                    </div>





                    <div class="mixer-side-mid-base mixer-side-mid-org mixer-side-right-mid-margin">

                        <button class="mixer-disc-main" type="button" id="track02">
                        {{!-- <div class="mixer-disc-main"> --}}
                            <div class="mixer-disc-screen">
                                <div class="mixer-disc-screen-blue">
                                    
                                </div>
                            </div>
                        {{!-- </div> --}}
                        </button>
                        <div class="mixer-side-mid-right-org">
                            <div class="mixer-mid-pot-levels ">
                                <div class="mixer-mid-pot-btn"></div>
                            </div>

                            <div class="mixer-side-btn-disc-bottom-right"></div>

                        </div>
                        

                        

                    </div>


                    <div class="mixer-side-bottom-base mixer-side-bottom-org mixer-side-bottom-padding">
                        
                        <div class="mixer-side-cue-play-container">
                            <div class="mixer-side-cue-btn">
                                <button class="mixer-side-cue-btn-interior" type="button" id="track04"></button>
                                {{!-- <div class="mixer-side-cue-btn-interior"></div> --}}
                            </div>
                            <div class="mixer-side-play-btn">
                                <button class="mixer-side-play-btn-interior" type="button" id="track06"></button>
                                {{!-- <div class="mixer-side-play-btn-interior"></div> --}}
                            </div>
                        </div>


                        <div>
                            <div class="mixer-side-bottom-over-btn-container">
                                <div class="mixer-side-bottom-over-btn border-white"></div>
                                <div class="mixer-side-bottom-over-btn border-turquoise"></div>
                                <div class="mixer-side-bottom-over-btn border-pink"></div>
                                <div class="mixer-side-bottom-over-btn border-purple"></div>
                                <div class="mixer-side-bottom-over-btn"></div>
                            </div>
                            <div class="mixer-side-bottom-btns-container">
                                <div class="mixer-side-bottom-btns background-red"></div>
                                <div class="mixer-side-bottom-btns background-yellow"></div>
                                <div class="mixer-side-bottom-btns background-cyan"></div>
                                <div class="mixer-side-bottom-btns background-green"></div>
                                <div class="mixer-side-bottom-btns background-turquoise"></div>
                                <div class="mixer-side-bottom-btns background-violet"></div>
                                <div class="mixer-side-bottom-btns background-blue"></div>
                                <div class="mixer-side-bottom-btns background-pink"></div>
                            </div>
                        </div>

                        <div class="mixer-side-bottom-volume-container">
                            <div class="mixer-side-bottom-volume">
                                <div class="mixer-mid-bottom-slider-btn"></div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>





            <div class="mixer-track-list-container">
                

                <div>
                    <p class="mixer-playlist-title">Playlist: <span class="title-color-cicle">{{playlistPlease.name}}</span></p>


                    {{#each response}}
                    <div class="mixer-playlist-track-info">

                        <div class="mixer-underline-div"></div>
                        
                        <div class="mixer-playlist-track-info">
                            <p class="mixer-playlist-tracks-title">{{data.title_short}}</p>
                            <div class="mixer-artist-bpm">
                                <p class="mixer-playlist-tracks-artist">{{data.artist.name}}</p>
                                <p class="mixer-playlist-tracks-artist">bpm: {{data.bpm}}</p>
                            </div>
                        </div>
                        <div class="center-elements">
                            <audio class="audio-controls-mixer" controls id="{{data.id}}" src="{{data.preview}}"></audio>
                        </div>

                        
                    
                        
                    </div>
                
                    {{/each}}
                </div>

            </div>
        </div>

    </div>




    <div class="org-bottom-elements">
        <div class="mixer-btns-org">

            <div class="choose-playlist-container">

                <p class="pick-playlist-title">Pick a playlist to start:</p>

                <form action="/djsession/search" method="GET">
                    <div>
                        <label for="playlist-list"></label>
                        <select class="playlist-assigner" name="playlist_id" id="playlist-list">
                            <option disabled>Choose a playlist</option>

                            {{#each playlist}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}

                        </select>
                    </div>

                    <button class="load-playlist-btn" type="submit">Load playlist</button>
                </form>
            </div>

            <div class="btns-container">

                <div>
                    <div>
                        <p class="btn-title-bottom">DISC L:</p>
                        {{!-- <button type="button" id="botondeplay">Click me</button> --}}
                        <select class="track-assigner" id='button1'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div>
                        <p class="btn-title-bottom">DISC R:</p>
                        {{!-- <button type="button" id="track02">Click me</button> --}}
                        <select class="track-assigner" id='diskRight'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div>
                    <div>
                        <p class="btn-title-bottom">CUE 01:</p>
                        {{!-- <button type="button" id="track03">Click me</button> --}}
                        <select class="track-assigner" id='cue01'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div>
                        <p class="btn-title-bottom">CUE 02:</p>
                        {{!-- <button type="button" id="track04">Click me</button> --}}
                        <select class="track-assigner" id='cue02'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div>
                    <div>
                        <p class="btn-title-bottom">PLAY 01:</p>
                        {{!-- <button type="button" id="track05">Click me</button> --}}
                        <select class="track-assigner" id='play01'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div>
                        <p class="btn-title-bottom">PLAY 02:</p>
                        {{!-- <button type="button" id="track06">Click me</button> --}}
                        <select class="track-assigner" id='play02'>
                            {{#each response}}
                                <option value="{{data.id}}">{{data.title_short}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
   
   
   









    
        <script src="../../js/mixer.js"></script>
</body>