<body class="background-radio">
    <div class="center-elements">
        <div class="radio-layout">
            <h1>Radio</h1>

            <form action="/radio" method="POST">
                <div class="radio-layout-02">
                    <label class="radio-txt" for="track">Choose a track to start</label>
                    <input class="radio-form-field" type="text" name="track" id="track">
                </div>
                <div class="center-elements">
                    <button class="main-btn-8" type="submit">Search</button>
                </div>
            </form>
        </div>




        <div class="album-grid-container">
            <div class="album-grid-container">
                <div class="album-grid2">
                    {{#each searchedTrack.data.data}}
                    <div class="track-card">
                        <a class="no-decoration" href="/radio/{{album.id}}">

                        <img class="album-cover" src="{{{artist.picture_big}}}">
                        <h4>{{title_short}}</h4>
                        <p class="album-artist no-decoration">{{artist.name}}</p>
                        <audio class="margin-top-4" controls src="{{preview}}"></audio>
                        

                        </a>
                        <p>{{album.id}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div> 
    </div>
</body>