<h4>Playlist:{{playlistPlease.name}}</h4>


    {{#each response}}
    <div>
        <h6>{{data.title_short}}</h6>
        <p>{{data.artist.name}}</p>
        <audio controls src="{{data.preview}}"></audio>
        <a href="/playlist/remove-from-playlist/{{data.id}}/{{../playlistPlease.id}}">Remove</a>
        
    </div>
   
    {{/each}}
